AuthType Basic
AuthName "This is restricted until launch"
AuthUserFile /home/75824/.htpasswd
AuthGroupFile /home/75824/.htgroup
Require user 2013

RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

ErrorDocument 404 /404.php

AddType video/ogg ogv